{% extends "app/base.html" %}
{% load static %}
{% block contenido %}
<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-12">
								<h2>Imagenes y videos de Indeed</h2>
							</div>
						</div>
						<div class="row main-row">
							<div class="col-6 col-12-medium">
								<iframe src="https://www.youtube.com/embed/6910j4ZhNlM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
							</div>
							<div class="col-6 col-3-medium"> 
								<iframe src="https://www.youtube.com/embed/D_VvI_W3d2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>
							</div>
						</div>
						<div class="row main-row">
							<div class="col-6 col-12-medium"> 
								<iframe src="https://www.youtube.com/embed/iphKE83Y304" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
							</div>
							<div class="col-6 col-12-medium"> 
								<iframe src="https://www.youtube.com/embed/m7QwA6YABfA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
{% endblock %}