{% extends "app/base.html" %}
{% load static %}
{% block contenido %}
<div id="page-wrapper">
    <!-- Main -->
    <div id="main">
        <div class="container">
            <div class="row main-row">
                <center>
                <h2 class="col-12">Login Usuario</h2>
                <form method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form errors">
                            {% for key, value in form.errors.items %}
                            <strong> {{value}}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-12">
                            <label for="username">Username</label>
                            {{ form.username }}
                        </div>
                        <div class="col-12">
                            <label for="password">Password</label>
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label class="checkbox" for="remember_me">Remember me</label>
                            {{ form.remember_me }}
                        </div>
                        <div class="col-12">
                            <p><input name="submit" type="submit" value="Log In"></p>
                            <p><input name="reset" type="reset" value="Reset Form"></p>
                        </div>
                    </div>
                    <br>
                    <div class="col-12">
                        <p>¿No tienes una cuenta? registrate <a href=" (% url 'login' %}"> Aquí </a></p>
                    </div>
                </form>
            </center>
            </div>
        </div>
    </div>
</div>
{% endblock %}