{% extends "app/base.html" %}
{% load static %}
{% block contenido %}
<div id="page-wrapper">
  <!-- Main -->
  <div id="main">
    <div class="container">
      <div class="row main-row">
        <!--<div class="col-l2"></div>-->
          <h2>Logout Complete</h2>
        <div class="col-12">
          <p>Has salido de la sesion correctamente.</p>
        </div>
        <div class="cpl-6">
          <p>Volver al Inicio <a href=" {% url 'inicio' %}" style="color:blue"> Aquí </a></p>
        </div>
        <div class="col-6">
          <p>Iniciar sesión nuevamente <a href=" {% url 'login' %}" style="color:blue"> Aquí </a></p>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}