{% extends "app/base.html" %}
{% load static %}
{% block contenido %}
		<!-- Main -->
				<div id="main">
					<div class="container">
						<div class="row main-row">
							<div class="col-4 col-12-medium">

								<section>
									<h2>Comparaciones productos similares</h2>
									<ul class="small-image-list">
										<li>
											<a><img src="{% static 'images/indeed.png' %}" alt="" class="left" /></a>
											<a href="https://mx.indeed.com/" ><h4>Indeed</h4></a>
											<p>USD 150.00/mes Versión gratuita</p>
											
										</li>
										<li>
											<a><img src="{% static 'images/ziprecruiter.png' %}" alt="" class="left" /></a>
											<a href="https://www.ziprecruiter.com/" ><h4>ZipRecruiter</h4></a>
											<p>N/D Prueba gratis</p>
											
										</li>
										<li>
											<a><img src="{% static 'images/linkedinjobs.png' %}" alt="" class="left" /></a>
											<a href="https://mx.linkedin.com/jobs" ><h4>LinkedIn Jobs</h4></a>
											<p>N/D Prueba gratis</p>
											
										</li>
										<li>
											<a><img src="{% static 'images/monstertms.png' %}" alt="" class="left" /></a>
											<a href="https://hiring.monster.com/" ><h4>Monster TMS</h4></a>
											<p>USD 249.00/año Prueba gratis</p>
											
										</li>
									</ul>
								</section>

								<section>
									<h2>Imformación obtenida de:</h2>
									<div>
										<div class="row">
											<div class="col-6 col-12-small">
												<ul class="link-list">
													<li><a href="https://www.capterra.mx/software/48951/monster-tms">Capterra Monster TMS</a></li>
													<li><a href="https://www.capterra.mx/software/172060/linkedin-jobs">Capterra LinkedIn jobs</a></li>
													<li><a href="https://www.capterra.mx/software/130706/ziprecruiter"></a>Capterra ZipRecruiter</li>
												</ul>
											</div>
										</div>
									</div>
								</section>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<section>
									<h2>Productos similares</h2>
									<p>¿Qué es ZipRecruiter? <br> ZipRecruiter es un mercado de empleo en línea líder. A diferencia de otras juntas de trabajo, ZipRecruiter no confía en los candidatos que buscan tu trabajo. En cambio, su tecnología de coincidencia de IA líder en el sector encuentra las mejores coincidencias para tu trabajo y las invita a postular. ¿Los beneficios? Más candidatos de calidad y menos tiempo para contratar. De hecho, el 80 % de los empleadores que publican en ZipRecruiter obtienen un candidato de calidad a través del sitio el primer día.</p>
									<p>¿Qué es LinkedIn Jobs? <br> Solicitantes más fuertes. Equipos más contentos. Llega a la persona adecuada para tus roles abiertos.</p>
									<p>¿Qué es Monster TMS? <br> El TMS (paquete de gestión de talentos, por sus siglas en inglés) de Monster ofrece una única solución potente para identificar, administrar, incorporar y progresar con tu fuerza laboral. Al integrar múltiples funciones y simplificar los procesos críticos, el TMS permite a los profesionales de RR. HH. mejorar las métricas clave, como el tiempo de contratación, el costo por contratación, la calidad de contratación y el tiempo hasta la productividad. Independientemente de los desafíos de RR. HH. a los que se enfrente tu organización, el TMS de Monster te ofrece la solución que responde a tus necesidades únicas.</p>
								</section>

							</div>
						</div>
					</div>
				</div>
{% endblock %}