{% extends "app/base.html" %}
{% load static %}
{% block contenido %}
<div id="page-wrapper">
    <!-- Main -->
    <div id="main">
        <div class="container">
            <div class="row main-row">

                <h2 class="col-12">Registro Usuario</h2>
                <br>
                <form action="#" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        <div id="form errors">
                            {% for key, value in form.errors.items %}
                            <strong> {{ value }}</strong>
                            {% endfor %}
                        </div>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-6">
                            <label for="first_name">Nombre <span></span></label>
                            <input type="text" name="{{ form.first_name.name }}" id="first_name" value="" size="22">
                        </div>
                        <div class="col-6">
                            <label for="last_name">Last Name <span></span></label>
                            <input type="text" name="{{ form.last_name.name }}" id="last_name" value="" size="22">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="username">Username</label>
                            <input type="text" name="{{ form.username.name }}" id="username" value="" size="22">
                        </div>
                        <div class="col-6">
                            <label for="email">Email</label>
                            <input type="email" name=" {{ form.email.name }}" id="email" value="" size="22">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="password">Password</label>
                            <input type="password" name="{{ form.passwordl.name }}" id="password" value="" size="22">
                        </div>
                        <div class="col-6">
                            <label for="password2">Repeat Password</label>
                            <input type="password" name="{{ form.password2.name }}" id="password2" value="" size="22">
                        </div>
                    </div>
                    <div class="col-12">
                        &nbsp;
                        <input name="submit" type="submit" value="Registrar User">
                        &nbsp;
                        <input name="reset" type="reset" value="Reset Form">
                    </div>
                    <br>
                    <div class="col-12">
                        <p>¿Ya tienes una cuenta? Ingresa <a href="{% url 'login' %}"> Aquí </a></p>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}